#resizablepanel .bd,
#resizablepanel2 .bd {
    height:10em;
    background-color:#fff;
    padding:10px;
    overflow: visbile;
    position: relative;
}

#resizablepanel .ft,
#resizablepanel2 .ft {
    height:15px;
    padding:0;
}

#resizablepanel .yui-resize-handle-br,
#resizablepanel2 .yui-resize-handle-br {
    right:0;
    bottom:0;
    height: 8px;
    width: 8px;
    position:absolute;
}

#resizablepanel iframe,
#resizablepanel2 iframe {
    border: 0px;
    height: 99%;
    width: 99%;
}

#resizablepanel.yui-resize-resizing iframe {
    display: none;
}

#resizablepanel2 div.resize-mask {
    display: none;
}
#resizablepanel2.yui-resize-resizing div.resize-mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    filter: alpha(opacity=50);
}
.yui-skin-sam .yui-resize .yui-resize-handle {
    background-color: transparent;
}

