#hd, #bd, #ft { border: 1px solid black; }
#hd h1 { font-size: 120%; }
#bd { min-height: 350px; }
#bd p { border: 2px solid red; min-height: 300px; padding: .25em; }
body { position: relative; }
.bd { text-align: left; }
.mask { z-index: 6000; }
#toolBoxHolder { visibility: hidden; }
#toolBoxHolder fieldset { border: 1px solid #ccc; padding: .5em; margin: .5em 0; }
#toolBoxHolder p { padding-bottom: .25em }
button { margin: .5em; border: 1px solid black; background-color: #eee; font-size: 80%; cursor: pointer; *cursor: hand; }
#showSlider { position: relative; }
#sliderbg { background-image: url( horizBg.png ); background-repeat: repeat-x; background-position: -99px 5px; position: relative; top: 15px; height: 50px; width: 218px; }
#sliderthumb { position: absolute; }
#custom-doc { margin:auto;text-align:left; }
#sliderValue { border: 1px solid #ccc; }
