@font-face { font-family: 3HOURTOUR; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/3HOURTOUR.eot); }
@font-face { font-family: A.C.M.E. EXPLOSIVE; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/A.C.M.E. EXPLOSIVE.eot); }
@font-face { font-family: ARCHITEXT; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/ARCHITEXT.eot); }
@font-face { font-family: BANNER; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/BANNER.eot); }
@font-face { font-family: BART; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/BART.eot); }
@font-face { font-family: BERNIE; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/BERNIE.eot); }
@font-face { font-family: CHILLER; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/CHILLER.eot); }
@font-face { font-family: CHINESE TAKEAWAY; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/CHINESE TAKEAWAY.eot); }
@font-face { font-family: CHOPINSCRIPT; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/CHOPINSCRIPT.eot); }
@font-face { font-family: COTILLION; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/COTILLION.eot); }
@font-face { font-family: CURLZ MT; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/CURLZ MT.eot); }
@font-face { font-family: EDWARDIAN SCRIPT ITC; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/EDWARDIAN SCRIPT ITC.eot); }
@font-face { font-family: FIFTHAVE; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/FIFTHAVE.eot); }		
@font-face { font-family: FUNSTUFF; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/FUNSTUFF.eot); }
@font-face { font-family: GASTON; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/GASTON.eot); }
@font-face { font-family: GIGI LET; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/GIGI LET.eot); }
@font-face { font-family: HARRINGTON; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/HARRINGTON.eot); }
@font-face { font-family: HOOTEROLL; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/HOOTEROLL.eot); }	
@font-face { font-family: INVITATION; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/INVITATION.eot); }
@font-face { font-family: JESTER; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/JESTER.eot); }
@font-face { font-family: JOKERMAN LET; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/JOKERMAN LET.eot); }
@font-face { font-family: KRISTEN ITC; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/KRISTEN ITC.eot); }
@font-face { font-family: PT SCRIPT; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/PT SCRIPT.eot); }
@font-face { font-family: QUILL; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/QUILL.eot); }
@font-face { font-family: RAVIE; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/RAVIE.eot); }
@font-face { font-family: SIMPSON; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/SIMPSON.eot); }
@font-face { font-family: STAGE COACH; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/STAGE COACH.eot); }
@font-face { font-family: TABITHA; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/TABITHA.eot); }
@font-face { font-family: TANGO; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/TANGO.eot); }
@font-face { font-family: TINKER TOY; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/TINKER TOY.eot); }
@font-face { font-family: VIVALDI; src:url(http://www.codonsoft.net/OOBP/DefaultFonts/VIVALDI.eot); }

