#cover {
    width: 450px;
    height: 250px;
    margin: 5em;
    border: 1px solid black;
}

#cover2 {
    width: 350px;
    height: 150px;
    margin: 2em;
    border: 1px solid red;
    background-color: #ccc;
}


#dlg {
    width: 250px;
    position: absolute;
}

#dlg .hd {
    background-color:#3d77cb;
	color:#FFF;
	font-size:100%;
	line-height:100%;
	border:1px solid #FFF;
	border-bottom:1px solid #000;
	font-weight:bold;
	overflow:hidden;
	padding:4px;
    font-family: Verdana;
}

